* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Open Sans", serif;
    --font-logo: 'Leckerli One';

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --accent-purple: #B259FF;
    --accent-fuschia: #FF59F9;
    --accent-pink: #FF598B;
    --accent-orange: #FF8B59;
    --accent-yellow: #FFCD59;
    --accent-lime: #E1FF59;
    --accent-green: #59FF91;
    --accent-cyan: #59FFFF;
    --accent-navy: #6A59FF;
    --text-heading: #F9F9F9;
    --text-body: #C8CDD0;

    --body-md: 300 1rem/1.2 var(--font-family);
    --body-sm: 700 0.875rem/auto var(--font-family);
    --body-xs: 700 0.75rem/auto var(--font-family);

    --text-logo: 400 2.5rem/1.37 var(--font-logo);

}

body {
    overflow: hidden;
    font: var(--body-md);
    color: var(--text-body);
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

