@import url(global.css);

#app {
    display: grid;
    grid-template-columns: 32.78% 67.22%;

    height: 100%;
    overflow: hidden;
}

aside {
    padding: 2rem;
    background-color: #212526;
    border-radius: 0.75rem;
    /*background: linear-gradient(180deg, rgba(33, 37, 38, 0.8) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.3) 40.5%, rgba(33, 37, 38, 0.1) 100%), url();*/

    & .aside-container {
        max-width: 21rem;
        margin-left: auto;
    }

    & h2 {
        font: var(--text-logo);
        text-transform: capitalize;

        color: var(--accent-pink);
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    & p {
        color: var(--text-heading);
        font: var(--body-md);
    }
}

main {
    background-color: var(--input-base);
    border-radius: 0.75rem;
    overflow: auto;
    padding: 5rem 8.125rem;

    & .main-container {
        max-width: 35rem;
        margin-left: auto;
    }

    & h1 {
        font-size: 1.75rem;
        line-height: 45px;
    }

    & form {
        margin-top: 2.5rem;
        margin-bottom: 5rem;

        & .title {
            align-items: center;
            gap: 0.75rem;
            font-size: 1.125rem;
            line-height: 20px;
        }

        & .about-event .flex {
            gap: 1rem;
        }
    }
}

.button-group {
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #363B40;
    background-color: var(--shape-background);
    padding: 0.7125rem 1rem;

    & .btn {
        font-size: 0.875rem;
        line-height: 19px;
        border-radius: 0.5rem;
        font-weight: 400;
        color: var(--text-body);
        width: 100%;

        &.presencial:hover,
        &.online:hover {
            background-color: #363B40;
            font-weight: 600;
            color: var(--text-heading);

            & svg path {
                stroke: var(--brand-light);
            }
        }
    }

}

.radio-inner {
    flex-wrap: wrap;
    gap: 0.75rem;

    & label {
        cursor: pointer;
    }

    & input[type="radio"] {
        display: none;
    }

    & .color-circle {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid #2D3136;
        transition: border 0.2s ease;
    }

    & input:checked + .color-circle {
        border-color: #fff; /* Adiciona destaque ao círculo selecionado */
}
}




















