@import url(global.css);

#app {
    display: grid;
    grid-template-columns: 32.78% 67.22%;

    height: 100%;
    overflow: hidden;
}

aside {
    padding: 2rem;
    background-color: #212526;
    border-radius: 0.75rem;
    /*background: linear-gradient(180deg, rgba(33, 37, 38, 0.8) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.3) 40.5%, rgba(33, 37, 38, 0.1) 100%), url();*/

    & .aside-container {
        max-width: 21rem;
        margin-left: auto;
    }

    & h2 {
        font: var(--text-logo);
        text-transform: capitalize;

        color: var(--accent-pink);
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    & p {
        color: var(--text-heading);
        font: var(--body-md);
    }
}

main {
    background-color: #131516;
    border-radius: 0.75rem;
    overflow: auto;
    padding: 5rem 8.125rem;

    & .main-container {
        max-width: 35rem;
        margin-left: auto;
    }

    & h1 {
        font-size: 1.75rem;
        line-height: 45px;
    }

    & form {
        margin-top: 2.5rem;
        margin-bottom: 5rem;

        & .title {
            align-items: center;
            gap: 0.75rem;
            font-size: 1.125rem;
            line-height: 20px;
        }

        & .about-event .flex {
            gap: 1rem;
        }

        & .button-group {
            align-items: center;

            & .btn-presencial {
                border-radius: 0.25rem;
                color: var(--text-heading);
                font-weight: 600;
                line-height: 19px;
                font-size: 0.875rem;
                background-color: #363B40;
            }

            & .btn-online {
                color: var(--text-body);
            }
        }
    }
}


















